---
import {GLOBAL} from "../../lib/variables";
---
<div class="flex flex-col w-full">
    <h3 class="font-display text-lg sm:text-xl leading-loose">{GLOBAL.aboutName}</h3>
    <p>{GLOBAL.aboutmeDescription}</p>
</div>